<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardgameserver.dao.NoteDao">


    <select id="findById" parameterType="long" resultType="Note">
        select id,idme,idops,happybean,date
        from note
        where idme=#{userId} or idops=#{userId}
        order by date desc
    </select>


    <insert id="insert" parameterType="Note">
        insert into note(idme,idops,happybean,date)
        value(#{idme},#{idops},#{happybean},#{date});
    </insert>


</mapper>