<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardgameserver.dao.SeckillgoodsDao">

    <insert id="insert" parameterType="Seckillgoods" useGeneratedKeys="true" keyProperty="id">
        insert into seckillgoods(price,happybean,stock,goodname,startdate,enddate)
        value(#{price},#{happybean},#{stock},#{goodName},#{startDate},#{endDate});

    </insert>

<!--    使用乐观锁机制防止超卖的情况-->
    <update id="update" parameterType="int">
        update seckillgoods
        set stock=stock-1
        where id=#{id} and stock>0;
    </update>

    <delete id="delete" parameterType="int">
        delete from seckillgoods
        where id=#{id};
    </delete>

    <select id="select" parameterType="int" resultType="com.cardgameserver.entity.Seckillgoods">
        select *
        from seckillgoods
        where id=#{id};
    </select>

</mapper>